#root {
    display: flex;
    height: 100vh;
}

.App {
    background-color: #1d4550;
    color: white;
    flex-grow: 1;
    text-align: center;
}

.App > section {
    padding: 1em;
}

.App-header {
    background-color: #282c34;
    min-height: 2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: #f0f0f0;
}

.App-header > a {
    color: #61dafb;
    text-decoration: none;
}

.App-header > a.Active {
    color: white;
}
